/* Scss Document */
/* Variabls Scss Document */
/* General Styles Scss Document */
body {
  background-color: white; }

main {
  background-color: #00dfff; }

.flex-container {
  padding: 0px;
  margin: 0px;
  height: 400px;
  overflow: scroll;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }

.flex-item {
  background-color: #ffe700;
  padding: 10px;
  margin-top: 20px;
  width: 150px;
  height: 150px;
  border: 2px outset;
  border-radius: 5px; }

/* Header Scss Document */
/* Footer Scss Document */
footer {
  display: none; }

/* Media Queries Scss Document */
