/* Scss Document */
/* Variabls Scss Document */
/* Color Palette*/
/* Font-Family*/
/* General Styles Scss Document */
body {
  background-color: white;
  position: relative; }

main {
  background-color: #00dfff; }

.flex-container {
  height: 400px;
  overflow-y: scroll;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start; }

.flex-item {
  background-color: #ffe700;
  width: 150px;
  height: 150px;
  border: 2px outset;
  border-radius: 5px;
  position: relative;
  margin-top: 15%; }

.playbutton {
  position: absolute;
  bottom: 5%;
  right: 5%;
  font-size: 32px;
  color: #c900ff; }

/* Header Scss Document */
nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }

nav ul li {
  font-family: "Walter Turncoat", cursive;
  font-size: 26px;
  list-style: none;
  text-align: center;
  padding: 6px 8px; }

nav a {
  color: black;
  background-color: transparent;
  text-decoration: none; }

#logo {
  -ms-transform: rotate(-7deg);
  /* IE 9 */
  -webkit-transform: rotate(-7deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-7deg);
  font-family: 'Henny Penny', cursive;
  font-size: 46px;
  color: #c900ff;
  text-shadow: 2px 2px 6px; }

/* Footer Scss Document */
footer {
  display: none; }

/* Media Queries Scss Document */
