/* Scss Document */
/* Variabls Scss Document */
/* Color Palette*/
/* Font-Family*/
/* General Styles Scss Document */
body {
  background-color: white; }

main {
  background-color: #00dfff; }

.flex-container {
  padding: 0px;
  margin: 0px;
  height: 400px;
  overflow: scroll;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }

.flex-item {
  background-color: #ffe700;
  padding: 10px;
  margin-top: 20px;
  width: 150px;
  height: 150px;
  border: 2px outset;
  border-radius: 5px; }

/* Header Scss Document */
nav ul {
  display: flex;
  flex-flow: row wrap; }

nav ul li {
  font-family: "Walter Turncoat", cursive;
  font-size: 26px;
  list-style: none;
  text-align: center;
  padding: 6px 8px;
  width: 100px; }

nav a {
  color: black;
  background-color: transparent;
  text-decoration: none; }

#logo {
  -ms-transform: rotate(-7deg);
  /* IE 9 */
  -webkit-transform: rotate(-7deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-7deg);
  font-family: 'Henny Penny', cursive;
  font-size: 46px;
  color: purple;
  text-shadow: 2px 2px 6px; }

/*.main-nav{
    height:40px;
    margin:auto;
}

.main-nav ul{
	margin:0 auto;
    width:800px;
    padding:12px;
    list-style: none;
}

.main-nav li{
	float: left;
}

.main-nav a {
	color: black;
	background-color: transparent;
	text-decoration: none;
  padding:0 14px;
  text-align:center;
  display:block;
}

.main-nav ul li a #logo{
	height:140px;
    display:block;
    width:215px;
    margin-top:-61px;
    padding: 0;
}*/
/* Footer Scss Document */
footer {
  display: none; }

/* Media Queries Scss Document */
