/* General Styles Scss Document */

body {
  background-color: white;
  position: relative; }

main {
  background-color: #00dfff; }

.flex-container {
  height: 400px;
  overflow-y: scroll;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start; }

.flex-item {
  background-color: #ffe700;
  width: 150px;
  height: 150px;
  border: 2px outset;
  border-radius: 5px;
  position: relative;
  margin-top: 15%; }

.playbutton {
  position: absolute;
  bottom: 5%;
  right: 5%;
  font-size: 32px;
  color: #c900ff; }
