/* Header Scss Document */

nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }

nav ul li {
  font-family: "Walter Turncoat", cursive;
  font-size: 26px;
  list-style: none;
  text-align: center;
  padding: 6px 8px; }

nav a {
  color: black;
  background-color: transparent;
  text-decoration: none; }

#logo {
  -ms-transform: rotate(-7deg);
  /* IE 9 */
  -webkit-transform: rotate(-7deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-7deg);
  font-family: 'Henny Penny', cursive;
  font-size: 46px;
  color: #c900ff;
  text-shadow: 2px 2px 6px; }