/* Variabls Scss Document */

/* Color Palette*/
$red: #ff0000;
$yellow: #ffe700;
$green: #7cff00;
$purple: #c900ff;
$blue: #00dfff;
$white: white;

/* Font-Family*/
$walterturncoat: 'Walter Turncoat', cursive;
$hennypenny: 'Henny Penny', cursive;
$shortstack: 'Short Stack', cursive;
$princesssofia: 'Princess Sofia', cursive;